@import '@resources/index.css';

.supt-main-nav {
	border-bottom: 1px solid rgba(255 255 255 / 15%);

	&__inner {
		@extend %container;

		padding: 18px 0 14px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__supt-link,
	&__home-link {
		@extend %t-link;
		color: $color-neutral-000;
	}

	&__supt-link {
		font-weight: 500;
	}
}
